{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

{{#if feature_image}}
<figure class="post-full-image post-image-header">
    {{!-- This is a responsive image, it loads different sizes depending on device
    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
    <img
        srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 600w,
                {{img_url feature_image size="l"}} 1000w"
        sizes="(max-width: 800px) 400px,
                (max-width: 1170px) 700px,
                1400px"
        src="{{img_url feature_image size="l"}}"
        alt="{{title}}"
    />

    <header class="post-full-header">
        <h1 class="post-full-title">{{title}}</h1>
    </header>
</figure>
{{/if}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <section class="subscribe-form">
                <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
                <p>Get the latest posts delivered right to your inbox</p>
                {{subscribe_form placeholder="youremail@example.com"}}
            </section>
            {{/if}}

        </article>

    </div>
</main>

{{/post}}
